extends ./components/_base-template

block main

    <!------------header------------->
    header.header
        .container
            .header__inner

                .header__mobile-menu.mobile-menu
                    button.mobile-menu__menu-btn.menu-btn
                        .menu-btn__icon
                            .menu-btn__line.menu-btn__line-1
                            .menu-btn__line.menu-btn__line-2
                            .menu-btn__line.menu-btn__line-3
                    .mobile-menu__block
                        .mobile-menu__top
                            a.mobile-menu__logo(href="")
                                img(src="../img/efekt-logo.svg", alt="Logo")
                            button.mobile-menu__close-btn

                        .mobile-menu__efekt
                            a.efekt__type.efekt__garden(href="#")
                                .efekt__circle
                                    svg(xmlns="http://www.w3.org/2000/svg" width="33" height="31" viewBox="0 0 33 31" fill="none")
                                        path(d="M21.5895 29.3268C20.6234 29.6028 13.8608 31.535 7.78829 27.2566C2.40581 23.6683 -0.0784071 16.7677 1.43973 10.0051C8.20232 8.625 14.9649 11.1092 18.8293 16.3537C22.9696 21.8742 21.7275 28.2227 21.5895 29.3268Z" stroke="#535353" stroke-width="2" stroke-miterlimit="10")
                                        path(d="M21.5897 20.9077C21.1756 20.3556 18.0013 16.2153 19.1054 11.1088C20.0715 6.5544 24.0739 2.96609 29.0423 2C31.8026 6.14036 32.0786 11.3848 29.5944 15.3872C26.9721 19.6656 22.4177 20.7697 21.5897 20.9077Z" stroke="#535353" stroke-width="2" stroke-miterlimit="10")
                                        path(d="M11.1001 19.2511C14.5504 22.5634 18.1387 26.0137 21.589 29.326" stroke="#535353" stroke-width="2" stroke-miterlimit="10")
                                span EFEKT Сад
                            a.efekt__type.efekt__snow.active(href="#")
                                .efekt__circle
                                    svg(xmlns="http://www.w3.org/2000/svg" width="28" height="30" viewBox="0 0 28 30" fill="none")
                                        path(d="M14.0283 15.0156V0" stroke="white" stroke-width="2" stroke-miterlimit="10")
                                        path(d="M10.5356 2.375L14.0285 5.90807" stroke="white" stroke-width="2" stroke-miterlimit="10")
                                        path(d="M17.4919 2.37488L13.999 5.90795" stroke="white" stroke-width="2" stroke-miterlimit="10")
                                        path(d="M14.0283 15.0154V30.0005" stroke="white" stroke-width="2" stroke-miterlimit="10")
                                        path(d="M17.4919 27.6241L13.999 24.1215" stroke="white" stroke-width="2" stroke-miterlimit="10")
                                        path(d="M10.5356 27.6253L14.0285 24.1227" stroke="white" stroke-width="2" stroke-miterlimit="10")
                                        path(d="M14.0299 15.0121L1 7.61096" stroke="white" stroke-width="2" stroke-miterlimit="10")
                                        path(d="M1.36426 11.8462L6.13278 10.5061" stroke="white" stroke-width="2" stroke-miterlimit="10")
                                        path(d="M4.7666 5.75439L6.103 10.5362" stroke="white" stroke-width="2" stroke-miterlimit="10")
                                        path(d="M14.0293 15.0155L27.0592 22.3862" stroke="white" stroke-width="2" stroke-miterlimit="10")
                                        path(d="M26.6953 18.1827L21.9268 19.4924" stroke="white" stroke-width="2" stroke-miterlimit="10")
                                        path(d="M23.2627 24.2435L21.9263 19.4617" stroke="white" stroke-width="2" stroke-miterlimit="10")
                                        path(d="M14.0312 15.0136L27.0612 7.61243" stroke="white" stroke-width="2" stroke-miterlimit="10")
                                        path(d="M26.6967 11.8467L21.9282 10.5066" stroke="white" stroke-width="2" stroke-miterlimit="10")
                                        path(d="M23.2651 5.75439L21.9287 10.5362" stroke="white" stroke-width="2" stroke-miterlimit="10")
                                        path(d="M14.0299 15.0155L1 22.3862" stroke="white" stroke-width="2" stroke-miterlimit="10")
                                        path(d="M1.36328 18.1837L6.1318 19.4934" stroke="white" stroke-width="2" stroke-miterlimit="10")
                                        path(d="M4.7666 24.2435L6.103 19.4617" stroke="white" stroke-width="2" stroke-miterlimit="10")
                                span EFEKT Снег
                        nav.mobile-menu__list
                             ul
                                li
                                    a(href="#") Товары
                                li
                                    a(href="#") Различия
                                li
                                    a(href="#") О бренде
                                li
                                    a(href="#") Сталь
                                li
                                    a(href="#") Материалы
                                li
                                    a(href="#") Галерея
                                li
                                    a(href="#") Выставки
                                li
                                    a(href="#") Прочность
                                li
                                    a(href="#") Где купить?
                        a.phone(href="tel:+88007070991")
                            span.phone__code 8 (800)
                            span.phone__number  707 09 91

                .header__logo
                    a.logo__link(href="#")
                        img(src="../img/efekt-logo.svg", alt="Logo")
                nav.header__nav
                    ul
                        li
                            a(href="#") Товары
                        li
                            a(href="#") Различия
                        li
                            a(href="#") О бренде
                        li
                            a(href="#") Сталь
                        li
                            a(href="#") Материалы
                        li
                            a(href="#") Галерея
                        li
                            a(href="#") Выставки
                        li
                            a(href="#") Прочность
                        li
                            a(href="#") Где купить?
                .header__efekt.efekt
                    a.efekt__type.efekt__garden(href="#")
                        .efekt__circle
                            svg(xmlns="http://www.w3.org/2000/svg" width="33" height="31" viewBox="0 0 33 31" fill="none")
                                path(d="M21.5895 29.3268C20.6234 29.6028 13.8608 31.535 7.78829 27.2566C2.40581 23.6683 -0.0784071 16.7677 1.43973 10.0051C8.20232 8.625 14.9649 11.1092 18.8293 16.3537C22.9696 21.8742 21.7275 28.2227 21.5895 29.3268Z" stroke="#535353" stroke-width="2" stroke-miterlimit="10")
                                path(d="M21.5897 20.9077C21.1756 20.3556 18.0013 16.2153 19.1054 11.1088C20.0715 6.5544 24.0739 2.96609 29.0423 2C31.8026 6.14036 32.0786 11.3848 29.5944 15.3872C26.9721 19.6656 22.4177 20.7697 21.5897 20.9077Z" stroke="#535353" stroke-width="2" stroke-miterlimit="10")
                                path(d="M11.1001 19.2511C14.5504 22.5634 18.1387 26.0137 21.589 29.326" stroke="#535353" stroke-width="2" stroke-miterlimit="10")
                        span EFEKT Сад
                    a.efekt__type.efekt__snow.active(href="#")
                        .efekt__circle
                            svg(xmlns="http://www.w3.org/2000/svg" width="28" height="30" viewBox="0 0 28 30" fill="none")
                                path(d="M14.0283 15.0156V0" stroke="white" stroke-width="2" stroke-miterlimit="10")
                                path(d="M10.5356 2.375L14.0285 5.90807" stroke="white" stroke-width="2" stroke-miterlimit="10")
                                path(d="M17.4919 2.37488L13.999 5.90795" stroke="white" stroke-width="2" stroke-miterlimit="10")
                                path(d="M14.0283 15.0154V30.0005" stroke="white" stroke-width="2" stroke-miterlimit="10")
                                path(d="M17.4919 27.6241L13.999 24.1215" stroke="white" stroke-width="2" stroke-miterlimit="10")
                                path(d="M10.5356 27.6253L14.0285 24.1227" stroke="white" stroke-width="2" stroke-miterlimit="10")
                                path(d="M14.0299 15.0121L1 7.61096" stroke="white" stroke-width="2" stroke-miterlimit="10")
                                path(d="M1.36426 11.8462L6.13278 10.5061" stroke="white" stroke-width="2" stroke-miterlimit="10")
                                path(d="M4.7666 5.75439L6.103 10.5362" stroke="white" stroke-width="2" stroke-miterlimit="10")
                                path(d="M14.0293 15.0155L27.0592 22.3862" stroke="white" stroke-width="2" stroke-miterlimit="10")
                                path(d="M26.6953 18.1827L21.9268 19.4924" stroke="white" stroke-width="2" stroke-miterlimit="10")
                                path(d="M23.2627 24.2435L21.9263 19.4617" stroke="white" stroke-width="2" stroke-miterlimit="10")
                                path(d="M14.0312 15.0136L27.0612 7.61243" stroke="white" stroke-width="2" stroke-miterlimit="10")
                                path(d="M26.6967 11.8467L21.9282 10.5066" stroke="white" stroke-width="2" stroke-miterlimit="10")
                                path(d="M23.2651 5.75439L21.9287 10.5362" stroke="white" stroke-width="2" stroke-miterlimit="10")
                                path(d="M14.0299 15.0155L1 22.3862" stroke="white" stroke-width="2" stroke-miterlimit="10")
                                path(d="M1.36328 18.1837L6.1318 19.4934" stroke="white" stroke-width="2" stroke-miterlimit="10")
                                path(d="M4.7666 24.2435L6.103 19.4617" stroke="white" stroke-width="2" stroke-miterlimit="10")
                        span EFEKT Снег
                    
    <!------------main section------------->
    section.main
        .container
            .main__video-bg
                picture
                    source(media="(min-width: 1280px)", srcset="../img/main-bg-lg.jpg")
                    source(media="(min-width: 768px)", srcset="../img/main-bg-md.jpg")
                    img(src="../img/main-bg-sm.jpg", alt="Background image")
            
            .main__bottom
                .winner-block
                    .winner-block__win Победитель
                    .winner-block__award German Design Award 2020

                a.phone(href="tel:+88007070991")
                    span.phone__code 8 (800)
                    span.phone__number  707 09 91

            a.scroll-btn(href="#")
                .scroll-btn__vert-line
                .scroll-btn__text Вниз
                .scroll-btn__down-arrow
                    svg(xmlns="http://www.w3.org/2000/svg" width="36" height="23" viewBox="0 0 36 23" fill="none")
                        path(d="M30.4559 0.728166L17.728 13.4561L5.00011 0.728166" stroke="#535353" stroke-width="2")

    <!------------section goods------------->
    section.goods
        .container
            .goods__inner

                .goods__img-block
                    .goods__img-wrapper
                        img.goods__circle-bg(src="../img/circle-bg.png", alt="")
                        img.goods__shovel(src="../img/e38-1.png", alt="Product image")

                .goods__card.card
                    .card__description
                        h2.card__title EFEKT PRO e38 SNOW SHOVEL
                        .card__function 
                            .card__dest Назначение:
                            ul
                                li Уборка снега
                                li Колка льда
                                li Прополка
                                li Убока листьев
                        
                        .card__sizes 
                            .card__sizes-title Размер, вес:
                            ul.card__sizes-list
                                li 38см х 156см;
                                li 1,3кг
                        
                        .card__material
                            div Материал:
                            ul
                                li алюминий,
                                li высококачественный PP и PVC

                        .card__stalk
                            .card__stalk-title Тип черенка:
                            .card__stalk-type
                                a.active(href="#") Алюминий
                                a(href="#") Дерево
      
                    .card__labels-wrapper
                        .card__labels
                            .card__warranty
                                img(src="../img/warranty.png", alt="warranty")

                            .card__made-in
                                img(src="../img/made-in.png", alt="made in")
                        
                .goods__shop-nav
                    a.goods__shop-link.shop-link(href="#")
                        span В магазин
                        .shop-link__circle
                            img(src="../img/shop-btn-circle.svg", alt="Circle")

                    .goods__nav
                        button.goods__prev-btn
                            img(src="../img/nav-arrow-left.svg", alt="arrow left")
                        button.goods__next-btn
                            img(src="../img/nav-arrow-right.svg", alt="arrow right")

                ul.goods__nav-bar.nav-bar
                    li.nav-bar__item
                        img(src="../img/e12_2019.png", alt="e12")
                    li.nav-bar__item
                        img(src="../img/e22_2019.png", alt="e22")
                    li.nav-bar__item
                        img(src="../img/e36_2019.png", alt="e36")
                    li.nav-bar__item
                        img(src="../img/e34_2019.png", alt="e34")
                    li.nav-bar__item.active
                        img(src="../img/e38.png", alt="e38")
                    li.nav-bar__item
                        img(src="../img/e29_2019.png", alt="e29")