// ------------base styles-------------

html {
  scroll-behavior: smooth;
  font-size: 16px;
  line-height: 1.8em;
  font-family: 'Rubik', sans-serif, Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: $main-text-color;
  cursor: url('../img/default-cursor.png'), auto;
}

.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding-left: 80px;
  padding-right: 80px;
  background-color: $dark-bg;
}

a,
button {
  cursor: url('../img/cursor-link.png'), auto;
}
