// ------------base styles-------------

html {
  scroll-behavior: smooth;
  font-size: 16px;
  line-height: 1.8em;
  font-family: 'Rubik', sans-serif, Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: $main-text-color;
}

.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}
